{% extends 'user/forms/_form.html.twig' %}
{% form_theme form 'user/forms/fields.html.twig' %}
{% block form %}
    <a href="{{ path(redirect) }}" class="waves-effect waves-light btn red" style="float: right">
        <i class="large material-icons">close</i>
    </a>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}