{% extends 'panel/base.html.twig' %}
{% block title %}SICO: {{ title }}{% endblock %}
{% block body %}
    <h3 class="col s12">{{ title }}</h3>
    <div class="row z-depth-2 p-2">
        {% block form %}
        {% endblock %}
    </div>
{% endblock %}