{% extends 'panel/base.html.twig' %}
{% block body %}
    <h2>Gestión de asignaciones</h2>
    <a class="waves-effect waves-light btn">Crear asignación</a>
    <table class="responsive-table z-depth-1 centered mt-2">
        <thead>
        <tr>
            <th>Profesor</th>
            <th>Módulo</th>
            <th>Ciclo</th>
            <th>Horas</th>
            <th>Modificar</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Profesor 1</td>
            <td>DWES</td>
            <td>DAW</td>
            <td>8</td>
            <td>
                <a href="#">
                    <i class="small material-icons">edit</i>
                </a>
            </td>
        </tr>
        <tr>
            <td>Profesor 2</td>
            <td>DWEC</td>
            <td>DAW</td>
            <td>6</td>
            <td>
                <a href="#">
                    <i class="small material-icons">edit</i>
                </a>
            </td>
        </tr>
        <tr>
            <td>Profesor 3</td>
            <td>IS</td>
            <td>ASIR</td>
            <td>5</td>
            <td>
                <a href="#">
                    <i class="small material-icons">edit</i>
                </a>
            </td>
        </tr>

        </tbody>
    </table>
{% endblock %}