{% extends 'panel/base.html.twig' %}
{% block body %}
    <h2>Gestión de grupos</h2>

    <a href="{{ path('new_group') }}" class="waves-effect waves-light btn" id="createGroup">Crear Grupos</a>

    <table class="responsive-table z-depth-1 centered mt-2">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Modificar</th>
            <th>Borrar</th>
        </tr>
        </thead>

        <tbody id="groupsTable">
        {% for group in groups %}
            <tr>
                <td>{{ group }}</td>
                <td>
                    <a href="{{ path('edit_group', {'id': group.id}) }}">
                        <i class="small material-icons">edit</i>
                    </a>
                </td>
                <td>
                    <a data-modal="modalGroup"  href="{{ path('delete_group', {'id': group.id}) }}" class="modalDelete modal-trigger">
                        <i class="small material-icons red-text">delete</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal Structure -->
    <div id="modalGroup" class="modal">
        <div class="modal-content">
            <p>¿Está seguro de borrar el grupo?</p>
        </div>
        <div class="modal-footer">
            <a href="#"
               class="actionDelete modal-close waves-effect waves-green btn-flat">Si</a>
            <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
    </div>

{% endblock %}