.text-s {
  font-size: 0.5rem;
}

.text-m {
  font-size: 0.8rem;
}

.text-n {
  font-size: 1rem;
}

.text-l {
  font-size: 2rem;
}

.m-0 {
  margin: 0px !important;
}

.m-1 {
  margin: 10px !important;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.mb-4 {
  margin-bottom: 40px !important;
}

.mt-1 {
  margin-top: 10px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-4 {
  margin-top: 40px !important;
}

.p-0 {
  padding: 0px !important;
}

.p-1 {
  padding: 10px !important;
}

.p-2 {
  padding: 20px !important;
}

.p-4 {
  padding: 40px !important;
}

.p-6 {
  padding: 60px !important;
}

.ph-1 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.ph-2 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.ph-4 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.w-100 {
  width: 100%;
}

.backgroundUserMenu {
  background: #01161E;
}

.sidenav-trigger {
  display: block !important;
}

.imgLogo {
  height: 70px;
}

#mainAdmin {
  display: flex;
  flex-flow: column;
}

.allHeight {
  height: 100vh;
}

.centerVertical {
  display: flex;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

.centerTotalVertical {
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.centerTotal {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-login {
  width: 40%;
}

.attributeUser {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.attributeUser p {
  margin-left: 10px;
}

.align-horizontal-center {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.subtitle-collection {
  font-size: 0.8rem;
  color: grey;
}

.msg_toast {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
}

form > div > div > ul > li {
  color: #ed1515;
}
