{% extends 'user/base.html.twig' %}

{% block body %}
    <div class="row">
        <h1 align="center"><b>Horario</b></h1><br/>
        <a href="{{ path('table_calendar_events') }}" class="waves-effect waves-light btn">Crear/modificar
            calendario</a>
        <div id="containerSelectCycleStudent">
            <select name="" id="selectGroupCalendar">
                <option value="todos">- Elija grupo -</option>
                {% for group in groups %}
                    <option value="{{ group.__toString() }}">{{ group.__toString() }}</option>
                {% endfor %}
            </select>
        </div>
        <div id='calendar'></div>
    </div>

    <script type="text/javascript">
        let getCalendar = function (arrayEvents) {
            $('#calendar').fullCalendar( 'removeEvents');
            $('#calendar').fullCalendar('addEventSource', arrayEvents);
            $('#calendar').fullCalendar({
                lang: 'es',
                defaultView: 'agendaWeek',
                weekends: false, // Esconder Sábados y Domingos
                minTime: '08:00:00',
                maxTime: '16:00:00',
                height: "auto",

                // header
                header: {
                    left: '',
                    center: '',
                    right: ''
                },

                //events
                events: arrayEvents,
            });
        };

        let selectGroupCalendar = function () {
            let events = "";
            let arrayEvents = [];
            $.ajax({
                type: "GET",
                url: "{{ path('get_events_data') }}",
                data: {'group': $(this).val()},
                success: function (response) {
                    events = JSON.parse(response.events);

                    if (!events) {
                        arrayEvents = [];
                    } else {
                        events.forEach(function (event) {
                            arrayEvents.push({
                                'title': event.module,
                                'start': event.initHour,
                                'end': event.finalHour,
                                'color': event.color,
                                'textColor': '#000'
                            });
                        });
                    }

                    getCalendar(arrayEvents);

                }
            });


        };

        $(function () {
            $("#selectGroupCalendar").on("change", selectGroupCalendar);
            getCalendar([]);
        });

    </script>
{% endblock %}
