<form action="{{ action }}" method="POST">
    <div class="row z-depth-2 p-2">
        <div class="col m6 s12">
            <div class="input-field">
                <input id="name" type="text" class="validate">
                <label for="name">Nombre</label>
            </div>
        </div>
        <div class="col m6 s12">
            <div class="input-field">
                <input id="city" type="text" class="validate">
                <label for="city">Ciudad</label>
            </div>
        </div>
        <div class="col m6 s12">
            <div class="input-field">
                <input id="cif" type="text" class="validate">
                <label for="cif">CIF</label>
            </div>
        </div>
        <div class="col m6 s12">
            <div class="input-field">
                <input id="sector" type="text" class="validate">
                <label for="sector">Sector</label>
            </div>
        </div>
        <div class="col s12">
            <button class="btn waves-effect waves-light w-100" type="submit" name="action">enviar
                <i class="material-icons right">send</i>
            </button>
            <div class="card-panel p-1 col s-12 w-100">
                <p class="red-text text-darken-2">* Existen campos vacíos</p>
            </div>
        </div>
    </div>
</form>