{% extends 'user/fct/_form.html.twig' %}
{% block form %}
    <a href="{{ path('user_fct') }}" class="waves-effect waves-light btn red" style="float: right">
        <i class="large material-icons">close</i>
    </a>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}